<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="css/student.css">
<body>
    <%- include('partials/nav') %>
    <div class="studentReg">
        <h1 id="reg">Student Registration</h1>
    

        <form method="POST" action="/studentRegistration" enctype="multipart/form-data">
            <p style="color: white; font-size: 12px;">Fill form with correct details</p>
            <label for="name">Full Name:</label>
            <input type="text" id="fullname" name="fullname" required><br>
    
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>
    
            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="DOB" required><br>
    
            <label for="phone">Phone Number:</label>
            <div style="display: flex; align-items: center;">
                <select name="countryCode" id="countryCode" style="width: 80px;">
                    <!-- Add country codes as options -->
                    <option value="+1">+1</option>
                    <option value="+44">+44</option>
                    <option value="+1">+234</option>
                    <option value="+44">+22</option>
                    <!-- Add more options as needed -->
                </select>
                <input type="tel" id="phone" name="phone" required>
            </div><br>
    
            <label for="picture">Upload Picture:</label>
            <input type="file" id="image" name="Image" accept="image/*" required><br><br>
    
            <label for="instructor">Select Instructor:</label>
    <select id="instructor" name="Instructor" required>
    
        <% for (let i = 0; i < teachers.length; i++) { %>
            <option value="<%= teachers[i] %>"><%= teachers[i] %></option>
        <% } %>
    </select><br>
    
    
    
            <p style="color: white; font-size: 12px;">Create a username and password to login.</p>
            <p style="color: red; text-align: center; font-size: 1rem;"><%=messages%></p>
            
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" ><br>
    
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br>
    
            <button>Submit</button>
        </form>

    </div>
    <%- include('partials/footer') %>
   
</body>
</html>
